#header{
    width: 100%;
    height: 100%;
    background-color: 0
    
}

#card{
    width: 80%;
    height: 90vh;
    background-image: url(./img/edita.jpeg);
    margin-top: 10%;
    margin-left: 10%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #000000;
   
}
#img{
    display: flex;
    justify-content: center;
    


}
#imgg{
    width: 200px;
    height: 200px;
    border-radius: 60%;
    margin-top: 10%;
    box-shadow: 0px 0px 20px #7f2eb4;
    
   

}

#nome{
    text-align: center;
    margin-top: 5%;
    font-size: 2.5em;
    color:#ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;

}
#p{
   text-align: center;
    color: #ffffff;
   font-size: 0.9em;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: bold;
}




#botao1{
    display: inline-block;
    padding: 15px 85px;
    background-color: #8a35bbcc;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 13%;
    justify-content: center;
    margin-left: 10%;
    border: 0;
}
#a1{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
#botao2{

    display: inline-block;
    padding: 15px 95px;
    background-color: #8a35bbcc;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 13%;
    justify-content: center;
    margin-left: 10%;
    border:0;
}
#a2{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

#botao3{

    display: inline-block;
    padding: 15px 85px;
    background-color: #8a35bbcc;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 13%;
    justify-content: center;
    margin-left: 10%;
    border: 0;
}
#a3{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

#final{
    color: #d8d8d8;
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 2.5%;
    text-align: center;
    margin-top: 40%;
}







